<div class="mt-4">
    <h3>Edit Course</h3>
    <form method="POST" action="/course/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="course-name" class="form-label">Course name</label>
            <input type="text" class="form-control" id="course-name" name="name" value="{{course.name}}">
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" name="level" value="{{course.level}}">
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}">
            {{!-- <div id="emailHelp" class="form-text"></div> --}}
        </div>
        <button type="submit" class="btn btn-primary">Save Course</button>
    </form>
</div>