<div class="mt-4">
  <table class="table table-bordered" >
    <thead>
      <tr style="display: flex; flex-wrap: nowrap; align-items: stretch;">
        <th scope="col" style="flex:1">id</th>
        <th scope="col" style="flex:3">CourseName</th>
        <th scope="col" style="flex:4">Description</th>
        <th scope="col" style="flex:1">Level</th>
        <th scope="col" style="flex:3">Video ID</th>
        <th scope="col" style="flex:2">Function</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr style="display: flex; flex-wrap: nowrap; align-items: stretch;">
        <th style="flex:1" scope="row">{{@index}}</th>
        <td style="flex:3">{{this.name}}</td>
        <td style="flex:4">{{this.description}}</td>
        <td style="flex:1">{{this.level}}</td>
        <td style="flex:3">{{this.videoId}}</td>
        <td style="flex:2">
          <a href="/course/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a data-bs-toggle="modal" data-bs-target="#deleteCourseModel" data-id="{{this._id}}"
            class="btn btn-link">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="modal fade" id="deleteCourseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you really want to delete these records? This process cannot be undone.
        </div>
        <div class="modal-footer">
          <button id="btn-delete-course-modal" type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Form --}}
<form id="delete-course-form" method="POST"></form>


<script>
  var courseId
  var deleteForm = document.getElementById('delete-course-form')
  var exampleModal = document.getElementById('deleteCourseModel')
  var btnDeleteCourse = document.getElementById('btn-delete-course-modal')

  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    courseId = button.getAttribute('data-id')
  })

  btnDeleteCourse.onclick = function () {
      deleteForm.action = `/course/${courseId}?_method=Delete`
      deleteForm.submit()
  }
</script>